.main-tab{
	position: 0 auto;
	width: 350px;
	height:500px;
    border: 20px solid #996600;
	border-radius:20px;
    padding: 25px;
    margin: 25px;
	box-shadow: 10px 10px #260033;
	background-color:#4d004d;
}

.floating-box {
	position: 0 auto;
    display: inline-block;
    width: 200px;
    height: 25px;
    margin: 0px 0px;
    border: 0px solid #73AD21;
	text-align:left;
	color: blue;
	border: 0px solid #996600;
	border-radius:10px;
    background-color:#4d004d;
}

.x-factor-two{
	width:70px;
    height:70px;
	border:5px solid yellow;
	border-radius:15px;
	color: white;
	-webkit-border-top-left-radius: 10px;
	cursor: pointer; cursor: hand;
}

.box-reset{
	width:90px;
    height:50px;
	border:5px solid white;
	border-radius:10px;
	color: white;
	-webkit-border-top-left-radius: 10px;
	cursor: pointer; cursor: hand;
}

.box-points{
	width:60px;
    height:50px;
	border:5px solid white;
	border-radius:10px;
	color: white;
	-webkit-border-top-left-radius: 10px;
	cursor: pointer; cursor: hand;
}

.x-win{
	width:70px;
    height:70px;
	border:5px solid yellow;
	border-radius:15px;
	color: blue;
	-webkit-border-top-left-radius: 10px;
	cursor: pointer; cursor: hand;
}
p.x{
	position: 0 auto;
	font-size:40px;
	text-align:center;
}

h1{
	margin-top: 90px;
	text-align:center;
	color:white;
	font-family: "Times New Roman", Georgia, Serif;
}

h1.tamanho{
	font-size:45px;
}

p{
	cursor: pointer; cursor: hand;
	color:white;
	font-size:25px;
	font-family:Serif;
	text-align: center;
}
		
p.four {
    border-style: dotted;
	color:white;
}


.triangle{
    width: 100px;
 }

h1.tamanho2{
	font-size:35px;
}
